// .wp-block-create-block-emoji-block {
// 	width: fit-content;
// }

.emoji-selector {
	display: flex;
	align-items: center;
	gap: 20px;

	padding: 0 15px;
}

.selected-emoji {
	margin: 0;
	font-size: 120px;
}


.emoji-picker-window {
	width: 100% !important;
	border: rgb(0, 0, 0) 1px solid !important;
	border-radius: 3px !important;
}